# Dependencies
node_modules/

# Build output
dist/
dist-ssr/

# Environment variables
.env
.env.local
.env.*.local

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
.DS_Store
Thumbs.db

# Cache
.cache/
.vite/

uploads/

erp.db
erp.db-shm
erp.db-wal

template/